*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    box-sizing: border-box;
}

main{
    display: flex;
}
/* Seccion portada */
.seccionPortada{
    width: 70%;
    background-image: url('../images/banner.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}


.seccionPortada a{
    background-color: rgb(1, 10, 46);
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 2em;
    left: 2em;
    font-size: 2em;
}

.seccionPortada a:hover{
    background-color: rgb(11, 42, 164);
}



.seccionLogin{
    width: 30%;
    height: 100vh;
    background-color: blue;
}